::-moz-selection {
	background-color: #794C2C;
	color: #fff
}

::selection {
	background-color: #794C2C;
	color: #fff
}

body {
    background: #222;
	color: #777;
	font-family: Poppins, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5em;
	position: relative
}

a {
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s
}

a,
a:focus,
a:hover {
	text-decoration: none;
	outline: 0;
	color: #777
}

h1,
h3 {
	font-family: Poppins, sans-serif;
	color: #222;
	line-height: 1.2em!important;
	margin-bottom: 0;
	margin-top: 0;
	font-weight: 600
}

h1 {
	font-size: 36px
}

h3 {
	font-size: 24px
}

.mb-20 {
	margin-bottom: 20px
}

.text-white {
	color: #fff
}

.relative {
	position: relative
}

.overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0
}

i {
	color: #794C2C
}

h1,
h3 {
	line-height: 1.5em
}

body {
	position: relative
}

.default-header {
	padding: 25px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9
}

.section-gap {
	padding: 20px 0
}

.banner-area {
	background: url(../img/banner-bg.png) no-repeat center center/cover
}

.banner-area .overlay-bg {
	background: rgba(0, 0, 0, .66)
}

@media (max-width:767px) {
	.banner-area .fullscreen {
		height: 600px!important
	}
}

.banner-content h1 {
	font-size: 60px;
	font-weight: 600;
	line-height: 1.2em;
	margin-bottom: 20px;
	color: #794C2C
}

@media (max-width:767px) {
	.banner-content h1 {
		font-size: 40px
	}
}

.banner-content p {
	margin-bottom: 0;
	font-size: 16px
}

footer {
	background: #222
}

.footer-bottom {
	padding-top: 40px
}

.footer-bottom .footer-text {
	color: #fff
}

.footer-bottom .footer-text i {
	color: #794C2C
}

.footer-bottom .footer-text a {
	color: #794C2C
}

.footer-bottom .footer-text a:hover {
	color: #794C2C
}

.section-top-border {
	padding: 35px 0;
}
